// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.mainbox {
	margin-left: 500px;
}

.post1 {
	margin-left: 50px;
}

.root {
	margin-left: 10px;
/*	border: 1px solid black;
*/
}

.username {
	display: inline-block;
	font-weight: bold;
	font-size: 3em;
}

.follow_butts {
	display: inline-block;

}

.comment_form {
	/*display: none;*/
}